:root{
  --primary: rgb(101, 196, 117);
  --secondary: rgba(109, 241, 241, 0.623);
  
}

.hero-card{
  
  border: 1px solid rgba(43, 34, 34, 0.507);
  box-sizing: border-box;
  border-radius: 5px;
  height: 40vh;
  width: 30vh;
  margin-left: 2em;
  
}

.middle-card{
  border: 1px solid rgba(43, 34, 34, 0.507);
  box-sizing: border-box;
  border-radius: px;
  height: 25vh;
  width: 30vw;
  bottom: -4em;
  position: relative;
  margin-left: 8em;
}


  


.hero-img{
  background-image: url(https://assets.unenvironment.org/styles/article_billboard_image/s3/2020-05/nature-3294681_1920%20%281%29.jpg?VersionId=null&amp;h=ebad6883&amp;itok=iV1MUd_a);
  min-height: 50vh;
  background-size: cover;
  background-position: center;
  
  
}

.mainColor{ 
   background-color: var(--primary)

}

.secondaryColor{
  background-color: var(--secondary);
}

.row{
  min-height: 20vh
  
}

.card-border{
  border-block-color: black;
  border-style: solid
}

.card-double-border{
  margin-bottom: 1em;
  margin-left: 6em;
  
}

.secondaryPicture{

  height: 30 vh;
  background-size: cover;
  background-position: center;
}

.first-card{
  border: 1px solid rgba(43, 34, 34, 0.507);
  box-sizing: border-box;
  border-radius: 5px;
  height: 5vh;
  width: 5vh;
  position: absolute
 
}

.text-success{
  color: green;

}

@media (max-width: 750px){
  .hero-img{
    background-image: url('https://assets.unenvironment.org/styles/article_billboard_image/s3/2020-05/nature-3294681_1920%20%281%29.jpg?VersionId=null&amp;h=ebad6883&amp;itok=iV1MUd_a');
  }
}

.custom-font{
  font-family: 'Rock Salt', cursive;
 
}


@media (max-width: 767px) {                  
   .hide {
      display: none;
   }
}
